html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: darkslateblue;
  color: #fff;
}

#root {
  width: 100%;
  height: 100%;
}
